@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");

* {
  font-family: "Boldonse", system-ui;
}
h1 {
  color: rgb(255, 0, 0);
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
}
.imgyh1 {
  text-align: center;
}

.imgyh1 img {
  max-width: 80%;
  height: auto;
}

.img-inicio {
  width: 550px;
  transition: all 0.3s ease-in-out;
}
.img-inicio:hover {
  width: 600px;
}
.img-mangas {
  width: 900px;
  transition: all 0.3s ease-in-out;
}
.img-mangas:hover {
  width: 1000px;
}
.img-juegos {
  width: 1000px;
  height: 600px;
  transition: all 0.3s ease-in-out;
}
.img-juegos:hover {
  width: 1100px;
}
.img-pelis {
  width: 1080px;
  transition: all 0.3s ease-in-out;
}
.img-pelis:hover {
  width: 1150px;
}
h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
}

.section-inicio {
  bottom: 150px;
}
li {
  text-decoration: none;
  a {
    text-decoration: none;
  }
}
.grid-item {
  list-style: none;
}
body {
  background-color: rgb(226, 245, 54);
  padding-bottom: 10px;
}

.span-inicio {
  bottom: 100px;
}
footer {
  position: static;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
  animation: change-bg 10s infinite;
}
@keyframes change-bg {
  0% {
    background-color: blue;
  }
  25% {
    background-color: white;
  }
  50% {
    background-color: turquoise;
  }
  75% {
    background-color: gray;
  }
  100% {
    background-color: hsl(308, 100%, 50%);
  }
}
main {
  min-height: 100vh;
  a {
    text-decoration: none;
    font-size: 15px;
  }
}
p {
  font-size: 14px;
}

.cartas {
  width: 150px;
  height: 200px;
  border: 40px solid rgb(10, 206, 190);
  text-align: center;
  margin: 10px;
  background-color: red;
  flex-wrap: 2;
}

.cartas img {
  width: 100%;
  height: 150px;
}

.grid-dondever {
  display: grid;
  grid-template: repeat(4, 250px) / 200px;
  box-sizing: border-box;
  justify-content: center;
  justify-items: center;
  padding-left: 0;
}

.grid-item img {
  width: 250px;
  height: 200px;
  display: block;
  transition: all 0.3s ease-in-out;
}
.grid-item img:hover {
  width: 300px;
  height: 220px;
}
$display: flex;
.caja {
  display: $display;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.caja-pelisyjuegos {
  @extend .caja;
  list-style: none;
}
.contenido {
  @extend .caja;
  flex-wrap: wrap;
  padding: 10px;
  box-sizing: border-box;
}
@mixin flexx($flex) {
  text-align: center;
  align-content: center;
  margin: 10px;
  flex: $flex;
  border: 10px solid;
}
.cards-pelisyjuegos {
  @include flexx(1 1 45%);
}

@media (min-width: 650px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  .navegacion {
    float: right;
    list-style: none;
    transform: scaleY(1.4);
  }
  footer {
    padding: 10px;
  }
  p {
    font-size: 20px;
  }
  .grid-dondever {
    grid-template: repeat(2, 200px) / repeat(2, 300px);
    align-items: center;
    padding: 1rem;
  }
  .contenido {
    display: flex;
    flex-direction: row;
  }
  .cartas {
    width: 300px;
    height: 400px;
    border: 50px solid rgb(10, 206, 190);
    text-align: center;
  }
  .cartas img {
    height: 300px;
  }

  .caja {
    flex-direction: row;
  }
  .caja-pelisyjuegos {
    flex-direction: column;
  }
  .cards {
    @include flexx(1 1 60%);
  }
}
@media (min-width: 900px) {
  .caja-pelisyjuegos {
    flex-direction: row;
  }
}
@media (min-width: 1100px) {
  .grid-dondever {
    grid-template: 200px / repeat(4, 300px);
    align-items: center;
    padding: 1rem;
  }
}
