@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");

* {
  font-family: "Boldonse", system-ui;
}
h1 {
  color: rgb(255, 0, 0);
  text-transform: uppercase;
  font-size: 70px;
  text-align: center;
  text-decoration: underline;
}
h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
}
.navegacion {
  float: right;
  list-style: none;
}

li a {
  text-decoration: none;
}
body {
  background-color: rgb(226, 245, 54);
}
main section {
  padding: 15px;
}
footer {
  background-color: grey;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
  text-align: center;
}
main a {
  text-decoration: none;
  font-size: 15px;
}
p {
  font-size: 15px;
}
